.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 15px;
    padding-left: 140px;
    padding-right: 140px;
    overflow:hidden;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
}



/* For extremely small screen devices (595px and below) */
@media only screen and (min-width: 320px) {
    .shop-container {
        display: grid;
        grid-template-columns: 140px 160px;
        margin: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .product-container {
        display: grid;
        grid-template-columns: repeat(1,140px);
        padding-left: 10px;
        padding-right: 0px;
    }
    
    .cart-container {
        grid-template-columns: repeat(1,160px);
    };
}
/* For extremely small screen devices (595px and below) */
@media only screen and (min-width: 375px) {
    .shop-container {
        display: grid;
        grid-template-columns: 160px 180px;
        margin: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .product-container {
        display: grid;
        grid-template-columns: repeat(1,160px);
        padding-left: 10px;
        padding-right: 0px;
    }
    
    .cart-container {
        grid-template-columns: repeat(1,180px);
    };
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 425px) {
    .shop-container {
        display: grid;
        grid-template-columns: 2fr 2fr;
        margin: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .product-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-left: 10px;
        padding-right: 0px;
    }
    
    .cart-container {
        grid-template-columns: repeat(1, 1fr);
    };
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
    .shop-container {
        display: grid;
        grid-template-columns: 3fr 1.5fr;
        margin: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .product-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-left: 10px;
        padding-right: 0px;
    }
    
    .cart-container {
        grid-template-columns: repeat(1, 1fr);
    };
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
    .shop-container {
        display: grid;
        grid-template-columns: 4fr 1.5fr;
        margin: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .product-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-left: 10px;
        padding-right: 0px;
    }
    
    .cart-container {
        grid-template-columns: repeat(1, 1fr);
    };
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1024px) {
    .shop-container {
        display: grid;
        grid-template-columns: 4fr 1.5fr;
        margin: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .product-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-left: 10px;
        padding-right: 0px;
    }
    
    .cart-container {
        grid-template-columns: repeat(1, 1fr);
    };

}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1440px) {
    .shop-container {
        display: grid;
        grid-template-columns: 4fr 1.5fr;
        margin: 5px;
        padding-left: 140px;
        padding-right: 140px;
    }
    
    .product-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-left: 10px;
        padding-right: 0px;
    }
    
    .cart-container {
        grid-template-columns: repeat(1, 1fr);
    };

}
