.selected-item{

    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid rgb(116, 110, 110);
    border-radius: 8px;
    padding: 2px;
    margin: 8px;
    
}

.details p {
    font-size: 15px;
}

.selected-item img {
    border-radius: 8px;
    margin: 2px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}