.random-item{

    display: flex;
    flex-direction: column;
    border: 0px solid #ddd;
    border-radius: 8px;

}

.random-item img{
    padding: 8px;
    width: 90%;
    height: 65%;
    border-radius: 8px;
}

.random-item h1{
    font-size: 20px;
}

.clear-luck {
    color: #ddd;
}