.random-item{

    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2px;
    margin-top: 30px;

}

.random-item img{
    padding: 8px;
    width: 90%;
    height: 65%;
    border-radius: 8px;
}

.random-item h1{
    font-size: 20px;
}