.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    position: relative;
}
.product img {
    border-radius: 8px;
    margin: 8px;
    width: 94%;
    height: 350px;
    object-fit: cover;
}

.details {
    padding: 10px;
    margin-bottom: 40px;
}
.name {
    color: black;
}
.price {
    margin-bottom: 40px;
}

.btn {
    padding: 15px;
    width: 100%;
    border: 1px solid #ddd;
    
}

.btn:hover {
    color: black;
}