.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    height: 600px;
    position: relative;
}
.product img {
    border-radius: 8px;
    margin: 8px;
    width: 94%;
    height: 350px;
    object-fit: cover;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
.name {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: black;
}
.price {
    margin-bottom: 20px;
}

.bttn {
    cursor: pointer;
    padding: 25px;
    width: 100%;
    border-color: #ddd;
    border-width: 0px;
    border-radius: 0 0 8px 8px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.bttn:hover {
    background-color: #2d3436;
    color: rgb(255, 255, 255);
    border-radius: 0 0 8px 8px;
}