.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 15px;
    padding-left: 140px;
    padding-right: 140px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}